<div class="wrapper">
  <div class="sidebar">
    <div class="title">THE <span>CITY</span> OF <em>RAIN</em></div>

    <div class="playlist">
      <h3>Recommend a song for a rainy day!</h3>



    </div>

    <p>website by Savannah Worth</p>
  </div>

  <div class="gif-container">

    <div class="gif"><%= image_tag 'rain1.gif' %>
    </div>

    <div class="gif"><%= image_tag 'rain2.gif' %>
    </div>

    <div class="gif"><%= image_tag 'rain3.gif' %>
    </div>

    <div class="gif"><%= image_tag 'rain5.gif' %>
    </div>

    <div class="gif"><%= image_tag 'rain4.gif' %>
    </div>


    <div class="gif"> <%= image_tag 'rain7.gif' %></div>

    <div class="gif">  <%= image_tag 'rain6.gif' %>
    </div>

    <div class="gif">  <%= image_tag 'rain9.gif' %>
    </div>

    <div class="gif">  <%= image_tag 'rain8.gif' %>
    </div>

  </div>
</div>